# Composer
composer.phar
composer.lock
/vendor/

# OS files
.DS_Store

# Environment file
.env
.env.*.php
.env.php

# Logs
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
yarn-error.log

# IDE specific
nbproject
.phpintel
.idea
_ide_helper.php
.phpstorm.meta.php
.vscode